<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143260184886-ml1h1aq0egikop39f4s0lu33a3aj4oa1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143260184886-ml1h1aq0egikop39f4s0lu33a3aj4oa1</string>
	<key>API_KEY</key>
	<string>AIzaSyBjLc9ZYtWdcDZ4V2_eCXz4JSBt3FpAJYM</string>
	<key>GCM_SENDER_ID</key>
	<string>143260184886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ademtarhan.MovieApp</string>
	<key>PROJECT_ID</key>
	<string>movieapp-62242</string>
	<key>STORAGE_BUCKET</key>
	<string>movieapp-62242.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143260184886:ios:6e5b97dcfdf0c1a5270397</string>
</dict>
</plist>