<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1004875813350-uhen8969096sv2ouis4p248mbaie9l0f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1004875813350-uhen8969096sv2ouis4p248mbaie9l0f</string>
	<key>API_KEY</key>
	<string>AIzaSyBmHH9k2sz-GL7mkMOvxngR6Y__yAC1Dtw</string>
	<key>GCM_SENDER_ID</key>
	<string>1004875813350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ademtarhan.movieApp</string>
	<key>PROJECT_ID</key>
	<string>movieapp-e0a4e</string>
	<key>STORAGE_BUCKET</key>
	<string>movieapp-e0a4e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004875813350:ios:c1f400561c31f8ed264627</string>
</dict>
</plist>